header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(220, 245, 146);
    font-family: cursive;
}
body{
    background-color: rgb(14, 126, 64);
}
.song-holder{
    justify-self: left;
    background-color: rgb(255, 199, 131);
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.artist{
    text-align: left;
    padding-left: 30px;
    margin-top: 0;
}
.title{
    padding-bottom:0 ;
}
#info{
    text-align: center;
    padding-left: 20px;
}
img{
    width: 200px;
    
}
